{# templates/mesrendu/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mes Rendus{% endblock %}

{% block body %}
    <h1>Mes Rendus</h1>

    {% if allSubmissions is defined and allSubmissions|length > 0 %}
        {# Liste de tous les rendus #}
        <ul>
            {% for submission in allSubmissions %}
                <li>{{ submission.title }} - Matière : {{ submission.subject }} - Date limite : {{ submission.deadline|date('Y-m-d') }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun rendu disponible pour le moment.</p>
    {% endif %}
{% endblock %}
