{# templates/mesrendu/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mes Rendus{% endblock %}

{% block body %}
    <h1>Mes Rendus</h1>
    {# Contenu de la page "Mes Rendus" #}
{% endblock %}
