{# templates/collaboration/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Collaboration{% endblock %}

{% block body %}
    <h1>Collaboration</h1>
    {# Contenu de la page "Collaboration" #}
{% endblock %}
