{# templates/meseval/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mes Évaluations{% endblock %}

{% block body %}
    <h1>Mes Évaluations</h1>
    {# Contenu de la page "Mes Évaluations" #}
{% endblock %}
