{# templates/progres/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Progrès{% endblock %}

{% block body %}
    <h1>Progrès</h1>
    {# Contenu de la page "Progrès" #}
{% endblock %}
